#  Australia Covid 19 Data Analysis

In [1]:
# Importing relevant python libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
# Loading Data
from owid import catalog

rc = catalog.RemoteCatalog()
uri = "garden/covid/latest/cases_deaths/cases_deaths"
df = rc[uri]

In [3]:
df.head()

                        new_cases  total_cases  new_deaths  total_deaths  \
country     date
Afghanistan 2020-01-04          0            0           0             0
            2020-01-05          0            0           0             0
            2020-01-06          0            0           0             0
            2020-01-07          0            0           0             0
            2020-01-08          0            0           0             0

                        weekly_cases  weekly_deaths  weekly_pct_growth_cases  \
country     date
Afghanistan 2020-01-04          <NA>           <NA>                     <NA>
            2020-01-05          <NA>           <NA>                     <NA>
            2020-01-06          <NA>           <NA>                     <NA>
            2020-01-07          <NA>           <NA>                     <NA>
            2020-01-08          <NA>           <NA>                     <NA>

                        weekly_pct_growth_deaths  biweekly_cases  \
country     date
Afghanistan 2020-01-04                      <NA>            <NA>
            2020-01-05                      <NA>            <NA>
            2020-01-06                      <NA>            <NA>
            2020-01-07                      <NA>            <NA>
            2020-01-08                      <NA>            <NA>

                        biweekly_deaths  ...  cfr_100_cases  cfr_short_term  \
country     date                         ...
Afghanistan 2020-01-04             <NA>  ...           <NA>            <NA>
            2020-01-05             <NA>  ...           <NA>            <NA>
            2020-01-06             <NA>  ...           <NA>            <NA>
            2020-01-07             <NA>  ...           <NA>            <NA>
            2020-01-08             <NA>  ...           <NA>            <NA>

                        days_since_100_total_cases  days_since_5_total_deaths  \
country     date
Afghanistan 2020-01-04                         -86                        -91
            2020-01-05                         -85                        -90
            2020-01-06                         -84                        -89
            2020-01-07                         -83                        -88
            2020-01-08                         -82                        -87

                        days_since_1_total_cases_per_million  \
country     date
Afghanistan 2020-01-04                                   -81
            2020-01-05                                   -80
            2020-01-06                                   -79
            2020-01-07                                   -78
            2020-01-08                                   -77

                        days_since_0_1_total_deaths_per_million  \
country     date
Afghanistan 2020-01-04                                      -91
            2020-01-05                                      -90
            2020-01-06                                      -89
            2020-01-07                                      -88
            2020-01-08                                      -87

                        days_since_100_total_cases_and_5m_pop  \
country     date
Afghanistan 2020-01-04                                    -86
            2020-01-05                                    -85
            2020-01-06                                    -84
            2020-01-07                                    -83
            2020-01-08                                    -82

                        total_deaths_last12m  total_deaths_per_100k_last12m  \
country     date
Afghanistan 2020-01-04                  <NA>                           <NA>
            2020-01-05                  <NA>                           <NA>
            2020-01-06                  <NA>                           <NA>
            2020-01-07                  <NA>                           <NA>
            2020-01-08                  <NA>                           <NA>

                        total_deaths_per_million_last12m
country     date
Afghanistan 2020-01-04                              <NA>
            2020-01-05                              <NA>
            2020-01-06                              <NA>
            2020-01-07                              <NA>
            2020-01-08                              <NA>

[5 rows x 38 columns]

In [4]:
df.info()

2024-12-09 21:20:12 [warning  ] Different values of 'unit' detected among variables: {'%', 'days', 'deaths', 'cases per million people', 'cases', 'deaths per 100,000 people', 'deaths per million people'} category=DifferentValuesWarning filename=/Users/haroondeen/Desktop/PythonProjects/.venv/lib/python3.11/site-packages/owid/catalog/variables.py lineno=360
<class 'owid.catalog.tables.Table'>
MultiIndex: 445000 entries, ('Afghanistan', Timestamp('2020-01-04 00:00:00')) to ('Zimbabwe', Timestamp('2024-11-17 00:00:00'))
Data columns (total 38 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   new_cases                                442885 non-null  UInt32
 1   total_cases                              445000 non-null  UInt32
 2   new_deaths                               443471 non-null  UInt16
 3   total_deaths                             445000 non-null  UInt32
 4   weekly_cases                             441606 non-null  UInt32
 5   weekly_deaths                            442221 non-null  UInt32
 6   weekly_pct_growth_cases                  308031 non-null  Float32
 7   weekly_pct_growth_deaths                 204747 non-null  Float32
 8   biweekly_cases                           439802 non-null  UInt32
 9   biweekly_deaths                          440469 non-null  UInt32
 10  biweekly_pct_growth_cases                320385 non-null  Float32
 11  biweekly_pct_growth_deaths               223258 non-null  Float32
 12  new_cases_per_million                    442885 non-null  Float32
 13  new_deaths_per_million                   443471 non-null  Float32
 14  total_cases_per_million                  445000 non-null  Float32
 15  total_deaths_per_million                 445000 non-null  Float32
 16  weekly_cases_per_million                 441606 non-null  Float32
 17  weekly_deaths_per_million                442221 non-null  Float32
 18  biweekly_cases_per_million               439802 non-null  Float32
 19  biweekly_deaths_per_million              440469 non-null  Float32
 20  total_deaths_per_100k                    445000 non-null  Float32
 21  new_deaths_per_100k                      443471 non-null  Float32
 22  new_cases_7_day_avg_right                441664 non-null  Float32
 23  new_deaths_7_day_avg_right               442254 non-null  Float32
 24  new_cases_per_million_7_day_avg_right    441664 non-null  Float32
 25  new_deaths_per_million_7_day_avg_right   442254 non-null  Float32
 26  new_deaths_per_100k_7_day_avg_right      442254 non-null  Float32
 27  cfr                                      415842 non-null  Float32
 28  cfr_100_cases                            394026 non-null  Float32
 29  cfr_short_term                           268064 non-null  Float32
 30  days_since_100_total_cases               436100 non-null  Int16
 31  days_since_5_total_deaths                423640 non-null  Int16
 32  days_since_1_total_cases_per_million     441440 non-null  Int16
 33  days_since_0_1_total_deaths_per_million  430760 non-null  Int16
 34  days_since_100_total_cases_and_5m_pop    243860 non-null  Int16
 35  total_deaths_last12m                     85750 non-null   Int32
 36  total_deaths_per_100k_last12m            85750 non-null   Float32
 37  total_deaths_per_million_last12m         85750 non-null   Float32
dtypes: Float32(24), Int16(5), Int32(1), UInt16(1), UInt32(7)
memory usage: 77.3 MB

#### Cleaning the data

In [7]:
df_cleaned = df[['total_cases','total_deaths', 'new_cases_per_million', 'total_cases_per_million', 'weekly_cases_per_million', 'weekly_deaths_per_million']]

In [8]:
df_cleaned

                        total_cases  total_deaths  new_cases_per_million  \
country     date
Afghanistan 2020-01-04            0             0                    0.0
            2020-01-05            0             0                    0.0
            2020-01-06            0             0                    0.0
            2020-01-07            0             0                    0.0
            2020-01-08            0             0                    0.0
...                             ...           ...                    ...
Zimbabwe    2024-11-13       266396          5740                    0.0
            2024-11-14       266396          5740                    0.0
            2024-11-15       266396          5740                    0.0
            2024-11-16       266396          5740                    0.0
            2024-11-17       266396          5740                    0.0

                        total_cases_per_million  weekly_cases_per_million  \
country     date
Afghanistan 2020-01-04                      0.0                      <NA>
            2020-01-05                      0.0                      <NA>
            2020-01-06                      0.0                      <NA>
            2020-01-07                      0.0                      <NA>
            2020-01-08                      0.0                      <NA>
...                                         ...                       ...
Zimbabwe    2024-11-13             16578.193359                       0.0
            2024-11-14             16578.193359                       0.0
            2024-11-15             16578.193359                       0.0
            2024-11-16             16578.193359                       0.0
            2024-11-17             16578.193359                       0.0

                        weekly_deaths_per_million
country     date
Afghanistan 2020-01-04                       <NA>
            2020-01-05                       <NA>
            2020-01-06                       <NA>
            2020-01-07                       <NA>
            2020-01-08                       <NA>
...                                           ...
Zimbabwe    2024-11-13                        0.0
            2024-11-14                        0.0
            2024-11-15                        0.0
            2024-11-16                        0.0
            2024-11-17                        0.0

[445000 rows x 6 columns]

In [13]:
australia =  df_cleaned[df_cleaned.index.get_level_values('country') == 'Australia']

In [14]:
australia

                      total_cases  total_deaths  new_cases_per_million  \
country   date
Australia 2020-01-04            0             0                    0.0
          2020-01-05            0             0                    0.0
          2020-01-06            0             0                    0.0
          2020-01-07            0             0                    0.0
          2020-01-08            0             0                    0.0
...                           ...           ...                    ...
          2024-11-13     11861161         25236                    0.0
          2024-11-14     11861161         25236                    0.0
          2024-11-15     11861161         25236                    0.0
          2024-11-16     11861161         25236                    0.0
          2024-11-17     11861161         25236                    0.0

                      total_cases_per_million  weekly_cases_per_million  \
country   date
Australia 2020-01-04                      0.0                      <NA>
          2020-01-05                      0.0                      <NA>
          2020-01-06                      0.0                      <NA>
          2020-01-07                      0.0                      <NA>
          2020-01-08                      0.0                      <NA>
...                                       ...                       ...
          2024-11-13                 452699.0                       0.0
          2024-11-14                 452699.0                       0.0
          2024-11-15                 452699.0                       0.0
          2024-11-16                 452699.0                       0.0
          2024-11-17                 452699.0                       0.0

                      weekly_deaths_per_million
country   date
Australia 2020-01-04                       <NA>
          2020-01-05                       <NA>
          2020-01-06                       <NA>
          2020-01-07                       <NA>
          2020-01-08                       <NA>
...                                         ...
          2024-11-13                        0.0
          2024-11-14                        0.0
          2024-11-15                        0.0
          2024-11-16                        0.0
          2024-11-17                        0.0

[1780 rows x 6 columns]

In [19]:
australia = australia.reset_index('country', drop='country')

In [21]:
australia

,date,total_cases,total_deaths,new_cases_per_million,total_cases_per_million,weekly_cases_per_million,weekly_deaths_per_million
0,2020-01-04,0,0,0.0,0.0,<NA>,<NA>
1,2020-01-05,0,0,0.0,0.0,<NA>,<NA>
2,2020-01-06,0,0,0.0,0.0,<NA>,<NA>
3,2020-01-07,0,0,0.0,0.0,<NA>,<NA>
4,2020-01-08,0,0,0.0,0.0,<NA>,<NA>
...,...,...,...,...,...,...,...
1775,2024-11-13,11861161,25236,0.0,452699.0,0.0,0.0
1776,2024-11-14,11861161,25236,0.0,452699.0,0.0,0.0
1777,2024-11-15,11861161,25236,0.0,452699.0,0.0,0.0
1778,2024-11-16,11861161,25236,0.0,452699.0,0.0,0.0
1779,2024-11-17,11861161,25236,0.0,452699.0,0.0,0.0

In [23]:
australia = australia.dropna()

In [24]:
australia

,date,total_cases,total_deaths,new_cases_per_million,total_cases_per_million,weekly_cases_per_million,weekly_deaths_per_million
5,2020-01-09,0,0,0.0,0.0,0.0,0.0
6,2020-01-10,0,0,0.0,0.0,0.0,0.0
7,2020-01-11,0,0,0.0,0.0,0.0,0.0
8,2020-01-12,0,0,0.0,0.0,0.0,0.0
9,2020-01-13,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
1775,2024-11-13,11861161,25236,0.0,452699.0,0.0,0.0
1776,2024-11-14,11861161,25236,0.0,452699.0,0.0,0.0
1777,2024-11-15,11861161,25236,0.0,452699.0,0.0,0.0
1778,2024-11-16,11861161,25236,0.0,452699.0,0.0,0.0
1779,2024-11-17,11861161,25236,0.0,452699.0,0.0,0.0